.grid {
    /* border:2px solid red; */
    border-radius: 10px;
    display: grid;
    margin: 4vi;
    padding: 4vi;
    grid-template-columns: auto auto;
    background-color: black;  
    gap: 2vi;
}

.video1{
    /* border:2px solid red; */
    border-radius: 10px;
    align-self: flex-end;
    width: 40vi;
    height: 23vi;
}

.video2{
    /* border:2px solid red; */
    border-radius: 10px;
    width: 40vi;
    height: 23vi;
}

.imagen1{
    /* border:2px solid red; */
    border-radius: 10px;
    grid-column: 2/3;
    grid-row: 1/3;
    width: 40vi;
    height: 48.5vi;
}

.imagen2{
    /* border:2px solid red; */
    border-radius: 10px;
    width: 40vi;
}

.video3{
    /* border:2px solid red; */
    border-radius: 10px;
    width: 40vi;
    grid-column:2/3 ;
    grid-row:3/5 ;
}
